.mat-list-item.video-card{
    height: 275px;
    width: 100%;
}

.videos
{
    width: 80%;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 10%;
    margin-right: 10%;
    // padding: 10%;
    // padding-top: 2%;
    // padding-bottom: 2%;
}
.uservideo-container {
    display: flex;
    position: relative;
    margin-top: 20px;
    display: block;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    // padding-left: 10%;
    // padding-right: 10%;
  }
  
  .uservideo-source-container{
  flex: 0 0 5%;
  float: left;
  width: 40%;
  }
  
  .uservideo-details-container{
    
  flex: 0 0  0%;
  float: left;
  width: 57%;
  margin-left: 9px;
  }
  
  
  .uservideo-title{
  font-family: "Roboto","Arial",sans-serif;
    font-size: 1.6rem;
    line-height: 2rem;
    font-weight: 400;
    padding:1px;
    margin:0;
  }
  .vd{
    margin:0;
  }
  .uservideo-views,.uservideo-date{
  font-family: "Roboto","Arial",sans-serif;
    font-size: 14px;
    font-weight: 400;
    margin:0; 
    color: #4f4d4d;
  }
  
    
  .account{
    font-family: "Roboto","Arial",sans-serif;
    margin-top: 13px;
    margin-bottom: 13px;
    display: flex;
    position: relative;
    // display: block;
    flex-direction: row;
    flex-wrap: wrap;
    color: #4f4d4d;
    
  }
  .account-icon{
   
    float: left;
    margin: 0px;
    padding: 0px;
  }
  .creator{
    float: left;
    margin: 0px;
    padding: 0px;
    font-size: 14px;
  }
  
  .uservideo-description{
    font-family: "Roboto","Arial",sans-serif;
    margin: 0px;
    padding: 0px;
    font-size: 14px;
    color: #4f4d4d;
  }
  
  
  // mat-card{
  //   width: 70%;
  // }
  
  
  