
<div class="form">
<div>
  <img src="assets/logonew.jpg" width="350" height="200">
  <pre style="font-size:20px"> <b>please login with your Gmail</b></pre>
</div>
<div class="loginBox-Container">
  <form [formGroup]= "loginFormGroup">
    <mat-card class="matcard">
      <div>
        <div class="container">
          <mat-form-field appearance="fill">
            <mat-label><b>Email</b></mat-label>
            <input matInput formControlName="email" />
            <mat-error *ngIf="loginFormGroup.get('email')?.invalid">{{
              getEmailErrorMessage()
            }}</mat-error>
          </mat-form-field>
          <!-- <mat-error *ngIf= "loginFormGroup.get('email')?.hasError('required')&& loginFormGroup?.get('email')?.touched" >Please Enter password </mat-error> -->
        </div>
        <br>
        <div class="container">
          <mat-form-field appearance="fill">
            <mat-label><b>Password</b></mat-label>
            <input
              matInput
              [type]="hide ? 'password' : 'text'"
              formControlName="password"
            />
            <button
              mat-icon-button
              matSuffix
              (click)= "hide = !hide"
              [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]= "hide"
            >
              <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
            </button>
            <mat-error *ngIf="loginFormGroup.get('password')?.invalid">{{
              getPasswordErrorMessage()
            }}</mat-error>
          </mat-form-field>
          <!-- <mat-error *ngIf= "loginFormGroup.get('password')?.hasError('required')&& loginFormGroup?.get('password')?.touched" >Please Enter password </mat-error> -->
        </div>
         <br>
        <div>
          <button
            mat-raised-button
            (click)="login()"
            color="primary"
            [disabled]="!loginFormGroup.valid"
          >
            <b>Login</b>
          </button>
        </div>
      </div>
    </mat-card>
</form>
</div>
</div>

