.home-icon{
    height: 50px;
    background-color: darkgrey;
     }
    
    .material-icons{
        float: right;
        padding-right: 50px;
        padding-top: 10px;
    }
 .form {
    text-align: center;
    margin-left: 400px;
    width: 400px;
 }